

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  /* * changes  */
  /* max-width: 100%; */
  border: 2px green solid;
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

/*  */
body {
  margin: 0;
  padding: 0;
  /* *changes below  */
  /* width: ; */
}

.app {
  /* width: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* *changes below  */
  width: 100%;
  border: 1px solid pink;
}

.content {
  /* *changed */
  /* Assuming you want the content area to take up the remaining space */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Add specific styles for the content area here */
}


/*  */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* App.css
.app {
  Assuming you want the entire app to take up the available height 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Add any additional global styles for your app here 
}

.content {
  Assuming you want the content area to take up the remaining space 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  Add specific styles for the content area here 
}
*/
